<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <insert id="insertSetMeal">
        insert setmeal
        (category_id,description,id,image,name,price,status,update_time,update_user,create_time,create_user)
        values
        (#{categoryId},#{description},null,#{image},#{name},#{price},#{status},#{updateTime},#{updateUser},#{createTime},#{createUser})
    </insert>
</mapper>