<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <insert id="insertSetMeal" useGeneratedKeys="true" keyProperty="id">
        insert setmeal
        (category_id,description,image,name,price,status,update_time,update_user,create_time,create_user)
        values
        (#{categoryId},#{description},#{image},#{name},#{price},#{status},#{updateTime},#{updateUser},#{createTime},#{createUser})
    </insert>
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select s.*,c.name as categoryName
        from setmeal s
        left join category c on s.category_id = c.id

        <where>
            <if test="name != null and name != ''">
                and s.name like '%${name}%'
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>

        order by update_time desc
    </select>
</mapper>